html {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

main {
  margin-top: 30px;
}

.footer-txt {
  font-size: 13px;
}

.v-carousel {
  width: 300px !important;
  min-width: 300px !important;
}

.v-window {
  height: 300px !important;
}

li.firebaseui-list-item:nth-child(1)::after {
  content: 'or' !important;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 350;
}

#scrolling-techniques-2>div>main>div>center>div>div>div>div>form>div.v-input.v-input--is-label-active.v-input--is-dirty.theme--light.v-text-field.v-text-field--is-booted.v-file-input>div.v-input__control>div.v-input__slot>div.v-input__append-inner>div>button {
  font-size: 0 ;
}

.v-carousel__controls{
  height:25px !important;
}